<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body data-bs-theme="dark" class="py-3">

	<section class="container">
		<div class="card">
			<h4 class="card-title ms-4 mt-2">Enter text</h4>
			<form action="/translate" id="myForm" method="post" enctype="text/plain">
				{% csrf_token %}
				<div class="card-body">
					<div class="form-floating">
						<textarea class="form-control" placeholder="Leave a comment here" id="targetText"
							name="targetText" style="height: 100px"></textarea>
						<label for="targetText">Comments</label>
					</div>
				</div>
				<div class="card-footer d-flex">
					<select class="form-select me-3" style="width: 200px;" name="languageTarget" id="languageTarget">
						{% for lang in langs %}
						<option value="{{ lang.code }}">{{ lang.language }}</option>
						{% endfor %}
					</select>
					<button type="submit" class="btn btn-outline-success">Translate</button>
				</div>
			</form>
		</div>
	</section>

	<section class="container mt-5">
		<div class="card overflow-hidden">
			<h4 class="card-title ms-2 mt-3">Translated Text in</h4>
			<div class="card-body" id="placeText" style="background-color: #99999958;">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat doloremque voluptatibus iure vero
				voluptatem hic perspiciatis excepturi! Earum, ut minus ratione nisi praesentium, eligendi odit mollitia
				cumque voluptates quidem dicta!
			</div>
		</div>
	</section>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/TextPlugin.min.js"></script>

<script>
	$(document).ready(function () {
		$('#myForm').submit(function (e) {
			e.preventDefault(); // Prevent the default form submission

			// Getting the CSRF token
			var csrfToken = $('[name=csrfmiddlewaretoken]').val();

			// Get the data from the form input
			var dataToSend = {
				targetText: $('#targetText').val(),  // Corrected the field name
				languageTarget: $('#languageTarget').val()  // Corrected the field name
			};

			// Send the POST request
			$.ajax({
				url: '{% url "translate" %}',  // Replace with the actual URL of your Django backend
				type: 'POST',
				data: dataToSend,
				headers: { "X-CSRFToken": csrfToken }, // Include the CSRF token
				success: function (response) {
					// Handle the response from the server
					// console.log(response.translatedText);
					// $('#placeText').text(response.translatedText)
					gsap.to('#placeText', {
						text: response.translatedText,
						duration: 2
					})
				},
				error: function (error) {
					// Handle any errors
					console.error(error);
				}
			});
		});
	});
</script>


</html>